@function createFontMap($file, $weight:normal, $style:normal) {
    $def: (
        file: $file,
        weight: $weight,
        style: $style
    );
    @return $def;
}

@mixin addFontFace($fontFamily, $basePath, $formats, $defList) {
    @each $def in $defList {
        $src: ();
        @each $format in $formats {
            $ext: $format;

            @if ($format == 'truetype') {
                $ext: 'ttf';
            }

            $url: url('#{$basePath}/#{map_get($def, 'file')}.#{$ext}') format(quote($format));
            $src: append($src, $url, comma);
        }

        @font-face {
            font-family: quote($fontFamily);
            font-weight: map_get($def, 'weight');
            font-style: map_get($def, 'style');
            font-display: swap;
            src: $src;
        }
    }
}

//@font-face {
//    font-family: 'Avenir Roman';
//    src: url('../fonts/Avenir/AvenirNextCyr-Regular.ttf') format('truetype');
//    src: url('../fonts/Avenir/AvenirNextCyr-Regular.eot');
//    src: url('../fonts/Avenir/AvenirNextCyr-Regular.eot?#iefix') format('embedded-opentype'),
//    url('../fonts/Avenir/AvenirNextCyr-Regular.woff') format('woff'),
//    url('../fonts/Avenir/AvenirNextCyr-Regular.ttf') format('truetype');
//}
//@font-face {
//    font-family: 'Avenir Medium';
//    src: url('../fonts/Avenir/AvenirNextCyr-Medium.ttf') format('truetype');
//    src: url('../fonts/Avenir/AvenirNextCyr-Medium.eot');
//    src: url('../fonts/Avenir/AvenirNextCyr-Medium.eot?#iefix') format('embedded-opentype'),
//    url('../fonts/Avenir/AvenirNextCyr-Medium.woff') format('woff'),
//    url('../fonts/Avenir/AvenirNextCyr-Medium.ttf') format('truetype');
//}
//@font-face {
//    font-family: 'Avenir Heavy';
//    src: url('../fonts/Avenir/AvenirNextCyr-Heavy.ttf') format('truetype');
//    src: url('../fonts/Avenir/AvenirNextCyr-Heavy.eot');
//    src: url('../fonts/Avenir/AvenirNextCyr-Heavy.eot?#iefix') format('embedded-opentype'),
//    url('../fonts/Avenir/AvenirNextCyr-Heavy.woff') format('woff'),
//    url('../fonts/Avenir/AvenirNextCyr-Heavy.ttf') format('truetype');
//}
//@font-face {
//    font-family: 'Avenir Black';
//    src: url('../fonts/Avenir/AvenirNextCyr-Bold.ttf') format('truetype');
//    src: url('../fonts/Avenir/AvenirNextCyr-Bold.eot');
//    src: url('../fonts/Avenir/AvenirNextCyr-Bold.eot?#iefix') format('embedded-opentype'),
//    url('../fonts/Avenir/AvenirNextCyr-Bold.woff') format('woff'),
//    url('../fonts/Avenir/AvenirNextCyr-Bold.ttf') format('truetype');
//}

@include addFontFace('Avenir', '../fonts/Avenir', ('woff', 'ttf'), (
    createFontMap('AvenirNextCyr-Regular', 400), // Romane
    createFontMap('AvenirNextCyr-Medium', 600), // Medium
    //createFontMap('AvenirNextCyr-Heavy', 900), // Heavy
    createFontMap('AvenirNextCyr-Bold', 800) // Black
));
