//Backgrounds and cards
body {
  // background: linear-gradient($watermelon, #2174a6) !important;
  // background-color: $watermelon;
  font-family: "Avenir", sans-serif;
  font-weight: 400;
}
// desktop
.top-background {
  background-image: url("/images/header.png");
  background-position: left top;
  background-size: 100% 100%;
  background-repeat: no-repeat;

  position: absolute;
  width: 100%;
  height: 702px;
  display: block;
}

.explanation-background {
  background-image: url("/images/explanation.background-2.png");
  background-position: center top 100px;
  background-size: cover;
  background-repeat: no-repeat;
  padding-left: 0;
  padding-right: 0;
}

.footer-background {
  background-image: url("/images/footer.png");
  background-position: center top;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  padding-left: 0;
  padding-right: 0;
}

.page-footer {
  padding-top: 30px;
  background-color: #2174a6;

  .container-fluid {
    padding-left: 50px;
    padding-right: 50px;
  }

  .row {
    font-family: "Avenir", sans-serif;
    font-weight: 600;
    font-size: 15px;
    line-height: 21px;
    color: $white;
  }

  .footer-link {
    font-family: "Avenir", sans-serif;
    font-weight: 600;
    font-size: 15px;
    line-height: 21px;
    color: $white;
  }

  .copyright {
    @extend .footer-link;
    text-align: right;
  }

  .footer-img {
    // @extend .align-top;
    // @extend .d-inline-block;
    margin-left: 5px;
    margin-right: 5px;

    height: 35px;
    width: 35px;
    border-radius: 100%;
  }

  .splitter {
    // margin-left: 50px;
    // margin-right: 50px;
    height: 1px;
    opacity: 20%;
    background-color: $white;
    margin-top: 30px;
  }

  .footer-brand-row {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

.logo {
  height: 40px;
  width: 158px;
}

.increase-sales-card {
  @extend .opaque-no-border;

  display: flex;
  height: auto;
  align-items: stretch;
  margin-top: 80px;
  margin-bottom: 30px;
  @media screen and (max-width: 1500px) {
    padding: 0;
  }
  @media screen and (max-width: 1024px) {
    margin-bottom: 0;
  }
  @media screen and (max-width: 500px) {
    margin-top: 30px;
  }
}

.devices-image-card {
  @extend .opaque-no-border;

  margin-top: 80px;
  margin-bottom: 30px;
  @media screen and (max-width: 1500px) {
    padding: 0;
  }
  @media screen and (max-width: 1024px) {
    margin-top: 0;
  }
}

.question-card {
  @extend .opaque-no-border;

  height: 70px;

  .card-horizontal {
    height: 70px;
  }

  .card-img {
    height: 50px;
    width: 50px;
  }

  .question-img {
    height: 50px;
    width: 50px;
  }

  .card-body {
    padding: 10px 10px 10px 10px;
  }

  .card-title {
    font-family: "Avenir", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 20px;
    letter-spacing: 0.22px;
    color: $gray;
    margin: 0;
  }
}

.welcome-container {
  max-width: 1800px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 80px;

  .marketing-title {
    text-align: left;
  }

  .card-body {
    text-align: justify;
  }
}

// desktop
.solution-background {
  background-image: url("/images/solution.png");
  background-position: center top 50px;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  width: 100%;
  z-index: 3;
  position: relative;
  @media screen and (min-width: 1280px) {
    min-height: 250px;
  }
  @media screen and (max-width: 768px) {
    padding-top: 15px;
    padding-bottom: 30px;
  }
}

.solution-card {
  padding: 0 40px;
  @extend .opaque-no-border;

  .card-text {
    font-family: "Avenir", sans-serif;
    font-weight: 600;
    font-size: 18px;
    letter-spacing: 0.22px;
    line-height: 25px;
    color: $white;
    margin-top: 35px;
  }

  .bold {
    font-family: "Avenir", sans-serif;
    font-weight: 800;
  }
}

.how-it-works {
  margin-top: 50px;
}

.image-card {
  @extend .opaque-no-border;
}

.explanation-card {
  @extend .opaque-no-border;

  .card-header {
    @extend .opaque-no-border;

    padding-bottom: 15px;

    .card-title {
      text-transform: uppercase;
      font-family: "Avenir", sans-serif;
      font-weight: 800;
      color: $textgray;
      letter-spacing: 0px;
      font-size: 15px;
    }

    .card-subtitle {
      font-family: "Avenir", sans-serif;
      font-weight: 800;
      color: $textgray;
      font-size: 25px;
      letter-spacing: 0px;
    }
  }

  .card-body {
    padding-top: 0px;
  }

  .card-text {
    font-family: "Avenir", sans-serif;
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0px;
    color: $textgray;
  }
}

.navbar {
  padding-top: 20px;
  padding-right: 50px;
  padding-left: 50px;

  @media screen and (max-width: 768px) {
    padding-left: 30px;
    padding-right: 30px;
  }
  @media screen and (max-width: 425px) {
    padding-left: 20px;
    padding-right: 20px;
  }
}
.locale-switcher-wrapper {
  margin-left: 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 50px;
}
.locale-switcher {
  display: block;
  cursor: pointer;
  background: rgba(255, 255, 255, 1);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  //border: 1px solid #ced4da;
  border: 0;
  border-radius: 100px;
  margin-left: 5px;

  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  transition: all .3s;

  &:focus {
    outline: 0;
  }

  &:hover {
    color: #495057;
    text-decoration: none;
    box-shadow: 0 2px 14px 0 rgba(206, 214, 238, 1);
  }


  &:first-child {
    margin-left: 0;
  }

  &.-active {
    color: $watermelon;
  }
}

.about-us {
  text-transform: uppercase;
  font-family: "Avenir", sans-serif;
  font-weight: 800;
  font-size: 15px;
  line-height: 37px;
  letter-spacing: 1.18px;
  color: $white;
  padding-right: 50px;
}

.sign-up-for-a-closed-beta {
  text-transform: uppercase;
  font-family: "Avenir", sans-serif;
  font-weight: 800;
  font-size: 15px;
  letter-spacing: 0.18px;
  line-height: 37px;
  border-radius: 25px;
  color: $gray;
  background-color: $white;
  height: 50px;
  width: 300px;

  transition: all .3s;

  &:hover {
    box-shadow: 0 2px 14px 0 rgba(206, 214, 238, 1);
  }
}

.marketing-title {
  font-family: "Avenir", sans-serif;
  font-weight: 800;
  font-size: 40px;
  letter-spacing: 0.8px;
  line-height: 55px;
  color: $textgray;
  margin-bottom: 30px;
}

.marketing-title-condensed {
  @extend .marketing-title;

  letter-spacing: 0px;
}

.sign-up-for-a-closed-beta-watermelon {
  @extend .sign-up-for-a-closed-beta;

  height: 50px;
  font-size: 15px;
  line-height: 37px;
  width: 200px;
  color: $white;
  background-color: $watermelon;
  transition: all .3s;

  @media screen and (min-width: 1200px) {
    width: 300px;
  }

  &:hover {
    box-shadow: 0 2px 14px 0 rgba(237, 80, 97, 1);
  }
}

.learn-more {
  @extend .sign-up-for-a-closed-beta;
  @extend .drop-shadow;

  height: 50px;
  font-size: 15px;
  line-height: 37px;
  letter-spacing: 0.18pt;
  margin-left: 20px;
  width: 200px;
  color: $gray;
  background-color: $white;
}

.video-form-wrapper {
  @media screen and (max-width: 1024px) {
    flex-direction: column;
  }
  .increase-sales-card {
    flex: 0 0 100%;
    max-width: 100%;
    @media screen and (min-width: 1500px) {
      flex: 0 0 66.666667%;
      max-width: 66.666667%;
    }
    @media screen and (min-width: 1200px) {
      flex: 0 0 60%;
      max-width: 60%;
    }
    @media screen and (min-width: 1025px) {
      flex: 0 0 65%;
      max-width: 65%;
    }
  }
  .devices-image-card {
    flex: 0 0 60%;
    max-width: 60%;
    align-self: center;
    @media screen and (min-width: 1500px) {
      flex: 0 0 33.333333%;
      max-width: 33.333333%;
    }
    @media screen and (min-width: 1200px) {
      flex: 0 0 40%;
      max-width: 40%;
    }
    @media screen and (min-width: 1025px) {
      flex: 0 0 35%;
      max-width: 35%;
    }
    @media screen and (max-width: 1024px) {
      min-width: 400px;
    }
    @media screen and (max-width: 475px) {
      flex: 0 0 100%;
      max-width: 100%;
      min-width: initial;
    }
  }
}

.video-header {
  height: 100%;
  padding: 20px;
  border-radius: 10px;
  background-color: $white;
  box-shadow: 0 2px 14px 0 rgba(206, 214, 238, 0.5);
  min-height: 550px;

  @media screen and (min-width: 1280px) {
    min-height: 605px;
  }
  @media screen and (max-width: 425px) {
    min-height: 330px;
  }
  iframe {
    border-radius: 10px;
    overflow: hidden;
    height: 100%;
    width: 100%;
  }
}

.sounds-interesting-header {
  background-color: $white;
  box-shadow: 0 2px 14px 0 rgba(206, 214, 238, 0.5);
  border-radius: 10px;
  // height: 400px;
  //margin-top: 50px;
  padding: 50px;

  @media screen and (max-width: 1200px) {
    padding: 20px;
  }

  .marketing-text {
    font-family: "Avenir", sans-serif;
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0px;
    color: $textgray;
    margin-bottom: 40px;

    &--line {
      border-bottom: 2px solid #ed4f62;
      margin-right: 5px;
    }
  }

  .marketing-title-condensed {
    padding-top: 60px;
    text-align: center;

    @media screen and (max-width: 1200px) {
      padding-top: 20px;
    }
  }

  .form-group {
    font-family: "Avenir", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
    letter-spacing: 0.36px;
    width: 100%;
    margin-bottom: 20px;
  }

  .form-control {
    @extend .drop-shadow;

    height: 50px;
    width: 100%;
  }

  .form-inline {
    padding-bottom: 50px;
    @media screen and (max-width: 1200px) {
      padding-bottom: 20px;
    }
  }
}


.sounds-interesting {
  background-color: $white;
  // height: 400px;
  margin-top: 50px;

  .marketing-text {
    font-family: "Avenir", sans-serif;
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0px;
    color: $textgray;
    margin-bottom: 40px;

    &--line {
      border-bottom: 2px solid #ed4f62;
      margin-right: 5px;
    }
  }

  .marketing-title-condensed {
    padding-top: 60px;
  }

  .form-group {
    padding-right: 20px;

    font-family: "Avenir", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
    letter-spacing: 0.36px;
  }

  .form-control {
    @extend .drop-shadow;

    height: 50px;
  }

  .form-inline {
    padding-bottom: 50px;
  }
}

.btn:hover {
  color: $white;
}

.white-button:hover {
  color: $textgray;
}

@media screen and (max-width: $small-laptop-breakpoint) {
  .solution-card {
    .card-text {
      margin-top: 15px;
    }
  }
}

// mobile
@media screen and (max-width: $mobile-breakpoint) {
  .sounds-interesting {
    .form-group {
      width: 300px;
      padding-right: 0;
      // padding-left: 10px;
      // padding-right: 10px;
    }
  }
  .navbar-brand {
    padding-top: 4pt;
    padding-left: 0pt;
  }

  .explanation-card {
    .image-card {
      // width: ;
    }
  }

  .top-background {
    background-image: url("/images/mobile/header.png");
    width: 100%;
    height: 1000px;
  }

  .solution-background {
    background-image: url("/images/mobile/solution.png");
    background-size: cover;
    height: 340px;
  }

  .solution-card {
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    // width: 275px;
    .card-text {
      font-size: 16px;
      letter-spacing: 0.19px;
    }
  }

  .page-footer {
    .list-group-horizontal {
      justify-content: center;
    }
    .copyright {
      text-align: center;
    }
  }

  .welcome-container {
    .marketing-title {
      font-family: "Avenir", sans-serif;
      font-weight: 800;
      font-size: 28px;
      letter-spacing: 0px;
      line-height: 40px;
      text-align: center;
      // margin-bottom: 30px;
    }
    .increase-sales-card {
      padding-left: 0;
      padding-right: 0;
      .card-body {
        padding-left: 0;
        padding-right: 0;
        text-align: center;
      }
    }

    .devices-image-card {
      .card-body {
        padding-left: 0;
        padding-right: 0;
      }
    }

    .sign-up-for-a-closed-beta-watermelon {
      padding-left: 0;
      padding-right: 0;
      // width: 300px;
    }
    .learn-more {
      margin-left: 0;
      margin-top: 20px;
      // padding-left: 0;
      // padding-right: 0;
    }
  }
}

// tiny mobile
@media screen and (max-width: $small-mobile-breakpoint) {
  .navbar-brand {
    margin-right: -10px;
  }
  .solution-background {
    // height: 400px;

    .marketing-title-condensed {
      margin-bottom: -12px;
    }

    .solution-card {
      padding-top: 35px;
      padding-left: 5px;
      padding-right: 5px;
    }
  }

  // .solution-card {
  // 	padding-top: 20px;
  // 	padding-left: 20px;
  // 	padding-right: 20px;
  // 	// width: 275px;
  // 	.card-text {
  // 		font-size: 16px;
  // 		letter-spacing: 0.19px;
  // 	}
  // }
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1000px;
  }
}

.container {
  .card-group {
    padding-top: 50px;
  }
}
