
//Backgrounds and cards

// desktop
.top-background {
	background-image: url('/img/landingBgMain.png');
	background-position: left top;
	background-size: auto;
	background-repeat: no-repeat;

	position: absolute;
	width: 100%;
	height: 702px;
	display: block;
}

// mobile
@media screen and (max-width: $mobile-breakpoint) {
	.top-background {
		background-image: url('/img/zeplin/landingBgMainMobile@3x.png');
		width: 100%;
		height: 1000px;
	}
}

.explanation-background {
	background-image: url('/img/zeplin/bg@3x.png');
	background-position: center top 100px;
	background-size: auto;
	background-repeat: no-repeat;
}

.footer-background {
	background-image: url('/img/zeplin/blue@3x.png');
	background-position: center top;
	background-size: cover;
	background-repeat: no-repeat;	
}

// mobile
@media screen and (max-width: $mobile-breakpoint) {
	.navbar-brand {
		padding-top: 4pt;
		padding-left: 0pt;
	}
}

.increase-sales-card {
	@extend .opaque-no-border;
	// width: 550pt;
	height: 300px;
	margin-top: 100px;
	margin-bottom: 150px;
}

.devices-image-card {
	margin-top: 80px;
	@extend .opaque-no-border;
}

.question-card {
	@extend .opaque-no-border;

	height: 70px;

	.card-img {
		height: 50px;
		width: 50px;
	}

	.question-img {	
		height: 50px;
		width: 50px;
	}

	.card-body {
		padding: 10px 10px 10px 10px;
	}

	.card-title {
		font-family: Avenir-Heavy;
		font-size: 18px;
		line-height: 20px;
		letter-spacing: 0.22px;
		color: $gray;
		margin: 0;
	}
}

.welcome-container {
	margin-bottom: 80px;
}

// desktop
.solution-background {
	background-image: url('/img/zeplin/bgSolution@3x.png');
	background-position: center top 25px;
	background-size: contain;
	background-repeat: no-repeat;
	width: 100%;
	height: 200px;
}

// mobile
@media screen and (max-width: $mobile-breakpoint) {
	.solution-background {
		background-image: url('/img/zeplin/mobile/bgSolution@3x.png');
	}
}

.solution-card {
	@extend .opaque-no-border;

	.card-text {
		font-family: Avenir-Medium;
		font-size: 18px;
		letter-spacing: 0.22px;
		line-height: 25px;
		color: $white;
		margin-top: -10px;
	}

	.bold {
		font-family: Avenir-Black;
	}
}

.how-it-works {
	margin-top: 50px;
}

.image-card {
	@extend .opaque-no-border;
}

.explanation-card {
	@extend .opaque-no-border;

	.card-header {
		@extend .opaque-no-border;

		// .card-subtitle {
		// 	@extend .card-title;
		// }

		.card-title {
			text-transform: uppercase;
			font-size: 15px;
		}
	}

	.card-title {
		font-family: Avenir-Black;
		color: $textgray;
		font-size: 25px;
		letter-spacing: 0.0px;
	}

	.card-text {
		font-family: Avenir-Medium;
		font-size: 18px;
		line-height: 24px;
		letter-spacing: 0.0px;
		color: $textgray;
	}
}

// Styling

.navbar-brand {
	// padding-top: 13pt;
	padding-left: 25pt;
}

.about-us {
	text-transform: uppercase;
	font-family: Avenir-Black;
	font-size: 12px;
	letter-spacing: 1.18px;
	color: $white;
}

.sign-up-for-a-closed-beta {
	text-transform: uppercase;
	font-family: Avenir-Black;
	font-size: 12px;
	letter-spacing: 1.18px;
	border-radius: 25px;
	color: $gray;
	background-color: $white;
}

.marketing-title {
	font-family: Avenir-Black;
	font-size: 40px;
	letter-spacing: 0.8px;
	line-height: 55px;
	color: $textgray;
	margin-bottom: 30px;
}

.marketing-title-condensed {
	@extend .marketing-title;

	letter-spacing: 0.0px;
}

.sign-up-for-a-closed-beta-watermelon {
	@extend .sign-up-for-a-closed-beta;

	height: 50px;
	font-size: 15px;
	line-height: 37px;
	letter-spacing: 0.18pt;
	width: 300px;
	color: $white;
	background-color: $watermelon;
}

.learn-more {
	@extend .sign-up-for-a-closed-beta;

	height: 50px;
	font-size: 15px;
	line-height: 37px;
	letter-spacing: 0.18pt;
	margin-left: 20px;
	width: 200px;
	color: $gray;
	background-color: $white;
	filter: drop-shadow(0 0 10px #e0e0e0);
}


/*
	footer

	// background-image: url('/img/zeplin/blue@3x.png');
	
	desktop
		4 cols
			compote
				about us
				t&c
			contact
				email
				address
			get the app
			follow us
		splitter
		brand / copyright / language

	mobile
		2 cols
			compote
				about us
				t&c
			contact
				email
				address
		splitter
		get the app
		follow
		copyright
		brand / language


	desktop

*/