



.logo {
	position: relative;
	height: 40pt;
	width: 60pt;

	margin-top: 23pt;
	margin-left: 29pt;

	color: white;

	font-family: "Avenir-Black";
	font-size: 25pt;
	letter-spacing: 0.43pt;
}

.logo-text {
	height: 34pt;
	margin-top: 2pt;
}

.logo-icon {
	position: relative;
	max-width: 40pt; 
	height: 40pt;
	float: left;
	transform: scaleX(-1);
	filter: FlipH;
}

.logo-right-side {
	// width: 409pt;
	margin-right: 15pt;
	margin-top: 26pt;
}

.about-us-top {
	text-transform: uppercase;
	margin-right: 15pt;
	margin-bottom: 8pt;
	margin-top: 10pt;
	color: white;
	display: inline-block;
	font-family: "Avenir-Black";
	font-size: 15pt;
	letter-spacing: 1.18pt;
}

.subscribe-top-button {
	text-transform: uppercase;
	height: 35pt;
	// width: 250pt;
	margin-top: 5pt;
	margin-bottom: 8pt;
	border-radius: 18.5pt!important;
	display: inline-block; 
	font-family: "Avenir-Black";
	color: #393E41;
	font-size: 15pt;
	letter-spacing: 0.08pt;
}

.top-column {
	height: 611pt;
}

.top-do-sales {
	height: 110pt;
	// width: 540pt;
	margin-top: 79pt;
	margin-left: 60pt;

	color: $textgray;

	font-family: "Avenir-Black";
	font-size: 40pt;
	line-height: 55pt;
	letter-spacing: 0.8pt;

	display: inline-block; 
	max-width: 500pt;
}

.top-iphone {
	display: inline-block; 
	width: 350pt;
	float: right;
	margin-top: 21pt;
}
