// Variables


// colors
$white: #ffffff !default;
$watermelon: #ed4f62 !default;
$midblue: #2274a5 !default;
$gray: #393E41 !default;
$textgray: #494949 !default;

// breakpoints
$mobile-breakpoint: 425px;
$small-mobile-breakpoint: 320px;
